<template>
    <main class="bg-white h-full">
        <!-- Page Section -->
        <section class="p-20">
            <UnderConstruction />
        </section>
    </main>
</template>

<script>
/* Import components. */
import UnderConstruction from '@/components/UnderConstruction'

export default {
    components: {
        UnderConstruction,
    },
    data: () => {
        return {
            //
        }
    },
    created: async function () {
        //
    },
    mounted: function () {

    },
}
</script>
