<template>
    <main class="flex w-full h-full justify-center items-center">
        <div class="w-1/2">
            <img src="@/assets/under-construction.png" class="rounded-xl ring-4 ring-offset-4 ring-gray-500" />

            <p class="text-center mt-5 text-lg">
                <strong>Bitcoin Builders</strong> are working very hard to get this page online <strong>ASAP</strong>
                <br /><strong class="text-red-500">Please stand by...</strong>
            </p>
        </div>

    </main>
</template>

<script>
export default {
    //
}
</script>
